
.title{
  position: absolute;
  top:150px;
  left: 500px;
  z-index: 100;
  font-weight: bold;
  font-size: 70px;
  color: rgba(0, 0, 0, 0);
  text-shadow: 3px 3px 0 #cd5;
  -webkit-text-stroke: 1px #888;
  text-stroke: 1px #888;
  padding: 0 0 10px;
}
.title1{
  position: absolute;
  top:250px;
  left: 400px;
  z-index: 100;
  font-weight: bold;
  font-size: 60px;
  color: rgba(0, 0, 0, 0);

  text-shadow: 3px 3px 0 #9db;
  -webkit-text-stroke: 1px #888;
  text-stroke: 1px #888;
}
.swiper-wrapper{
  text-align:center;
}
img{
  width:1100px;
  height:800px;
}
/* メニューバー */
header{
  background-color: lightpink;
  width: auto;
  margin: 0;
}
.db{
font-family: "游明朝体", YuMincho, "游明朝 Medium", "Yu Mincho Medium";
}
header h1{
  font-size: 30px;
  float: left;
}
#menu{
  text-align: center;
  list-style-type: none;
  float: right;
  font-family: 'Merienda One', cursive;
}
#menu li {
  list-style: none;
  display: inline-block;
  text-decoration: none;
  padding-right: 10px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  border-right: solid;
  color: black;
}
li a{
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 20px;
}
li a:hover{
  text-decoration: none;
  list-style: none;
  border-radius: 20px;
  font-size: 25px;
  transition-duration:1s;
}

/* ------------------------------- */
/* メニューバー */
/* ---------------------------- */


.inner {
  width: 980px;
  margin: 0 auto;
}
.inner:after {
  content: "";
  clear: both;
  display: block;
}

/* header */
#top-head {
  top: -100px;
  position: absolute;
  width: 100%;
  margin: 100px auto 0;
  padding: 10px 0 0;

  line-height: 1;
  z-index: 999;
}
#top-head a,
#top-head {
  text-decoration: none;
}
#top-head .inner {
  position: relative;
}
#global-nav ul {
  list-style: none;
  position: absolute;
  top: -20px;
  right: 0;
  bottom: 0;
  font-size: 14px;
}
#global-nav ul li {
  float: left;
}
#global-nav ul li a {
  padding: 0 30px;
}

/* Fixed */
#top-head.fixed {
  margin-top: 0;
  top: 0;
  position: fixed;
  padding-top: 10px;
  height: 55px;
  background: #fff;
  background: lightpink;
  transition: top 0.65s ease-in;
  -webkit-transition: top 0.65s ease-in;
  -moz-transition: top 0.65s ease-in;
}
#top-head.fixed .logo {
  font-size: 24px;
  color: #333;
}
#top-head.fixed #global-nav ul li a {
  color: #333;
  padding: 0 20px;
}

/* Toggle Button */
#nav-toggle {
  display: none;
  position: absolute;
  right: 12px;
  top: 14px;
  width: 34px;
  height: 36px;
  cursor: pointer;
  z-index: 101;
}
#nav-toggle div {
  position: relative;
}
#nav-toggle span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #666;
  left: 0;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
  top: 0;
}
#nav-toggle span:nth-child(2) {
  top: 11px;
}
#nav-toggle span:nth-child(3) {
  top: 22px;
}
@media screen and (max-width: 1000px){
  .title{
    position: absolute;
    top:150px;
    left: 300px;
    z-index: 100;
    font-weight: bold;
    font-size: 70px;
    color: rgba(0, 0, 0, 0);
    text-shadow: 3px 3px 0 #cd5;
    -webkit-text-stroke: 1px #888;
    text-stroke: 1px #888;
    padding: 0 0 10px;
  }
  .title1{
    position: absolute;
    top:250px;
    left: 200px;
    z-index: 100;
    font-weight: bold;
    font-size: 60px;
    color: rgba(0, 0, 0, 0);

    text-shadow: 3px 3px 0 #9db;
    -webkit-text-stroke: 1px #888;
    text-stroke: 1px #888;
  }
  img{
    width:900px;
    height:700px;
  }
  li a{
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 35px;
  }
  .menu_top{
    font-size: 35px;
  }
}
